.loading{
    display: none;
    text-align: center;
    width:80%;
    margin: auto;
    margin-top: 2px;

}
#loadinging {
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    margin-top: 5px;
    padding-top: 17px;
    padding-bottom: 50px;
    margin-bottom:100px;
}

.loading-p{
    font-size: 8vmin;
    padding-top:20px;
    color:rgb(236, 194, 56);
   
}

.문의사항{
    font-size:2vw;
    margin-top: 20px;
    color:rgb(133, 131, 127);
    margin-bottom: 10px;
}
