#qna{
    display: none;

}

.question{
    width: 70%;
    margin: auto;
    margin-top: 15px;
}

#title{
    margin-top: 30px;
    font-size: 3.5vmin;
}


#A{
background-color: rgb(215,45,102);
 font-family: 'GangwonEduPowerExtraBoldA';
 color: white;
 width: 95%;
 border-radius: 20px;
 padding: 5px;
 border: none;
 padding-top: 10px;
 box-shadow: rgba(215,45,102,0.7) 0px 0px 9px 0.6px;
 margin-top: 10px;
 transition: padding-top 1.5s ,padding-bottom 1.5s;
}

#B{

    background-color: rgb(235,156,30);
    font-family: 'GangwonEduPowerExtraBoldA';
    color: white;
    width: 95%;
    border-radius: 20px;
    padding: 5px;
    border: none;
    padding-top: 10px;
    box-shadow: rgba(235,156,30,0.7) 0px 0px 9px 0.6px;
    margin-bottom: 40px;
    transition: padding-top 1.5s ,padding-bottom 1.5s;
   }

#A:active,#B:active{
    padding-top: 30px;
    padding-bottom: 30px;
}

.upA,.upB{
    font-size: 2.5vmin;
    color: rgb(0, 0, 0);
}

.underA,.underB{
    font-size:4.4vmin;
}