.result{
    display:none;
}
.result{
    margin:auto;
    text-align: center;
    width: 90%;
}

.주민이라면{
    margin-top: 60px;
}
.결과유형{
    margin-top: 20px;
    margin-bottom: 60px;
}

#img{
    width: 70%;   
    box-shadow: rgba(51,129,188,1) 0px 0px 30px 0.5px; 
    background-color: rgb(51,129,188,0.3);
    
}

#song{
    font-size: 8vmin;
    color: rgb(51,129,188);
}
#글자{
    font-size: 5vmin;
}

.내가눈송마을주민이라면{
    font-size: 7vmin;
}

.송이{  
        
        background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 40%);
      
}

.typediscript{
    font-size: 7vmin;
    background: linear-gradient(180deg,rgba(255,255,255,0) 30%, rgb(216, 148, 171) 50%);
}

.recommend{
    font-size: 7vmin;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgb(255, 212, 142) 50%)
}

.destiny{
    font-size: 7vmin;
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgb(109, 231, 162) 50%)
}

.resultdiscription{
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    font-size: 3vmin;
    

}

@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.상세설명{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    font-size: 3vmin;
    background-color: rgba(215,45,102,0.1);
    box-shadow: rgba(215,45,102,0.7) 0px 0px 9px 0.6px;
    font-family: 'MICEGothic';
    font-weight: bold;
    margin-left: 2.5px;
    
}

.추천프로그램{
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2.5px;

}

#추천설명{

    padding: 10px;
    border-radius: 6px;
    background-color: rgba(235,156,30,0.1);
    box-shadow: rgba(235,156,30,0.7) 0px 0px 9px 0.6px;
    font-family: 'MICEGothic';
    font-weight: bold;
    font-size: 3vmin;

}

.relationbox{
    display:flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30px;
}


.relation-box{
    margin-top: 100px;
}

ul{
    width: 90%;
    margin: auto;
}

li{
    width: 40%;
    background-color: rgba(37,147,85,0.1);
    border-radius: 6px;
    box-shadow: rgba(37,147,85,0.7) 0px 0px 9px 0.6px;
    margin-left: 2vw;
    margin-right: 2vw;
   
    
}

#반대송이,#짝궁송이 {
    box-shadow: rgba(37,147,85,1) 0px 0px 30px 0.5px; 
    background-color: rgb(37,147,85,0.3);
    align-items: center;
    width: 17vmin;
    height: 17vmin;
}

#pt , #npt{
    font-size: 4vw;
    margin-top: 17px;
}

.송이제목{
    margin-top: 15px;
    font-size: 4vw;
}

.눈송마을웹사이트,.again{
    background-color: rgb(51,129,188);
    font-family: 'GangwonEduPowerExtraBoldA';
    color: white;
    width: 70%;
    border-radius: 20px;
    padding: 10px;
    border: none;
    padding-top: 15px;
    box-shadow: rgba(51,129,188,0.8) 0px 0px 9px 0.6px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: background-color 1s ,color 1s;

   }

   .눈송마을웹사이트:hover,.눈송마을웹사이트:active,.again:active,.again:hover{
    background-color: white;
    color:rgb(51,129,188);
   }



   .share{
    margin-top: 30px;

   }
 
    
   .again{
    margin-bottom: 50px;
   }
 